{% extends "base.html.jinja" %}
{% block content %}
    <head>
        <title>Author</title>
    </head>
    <div class= "index-cont"> Created and designed by Dawid Burgiel <br/>   Applied Informatics Student</div>
    <div class= "img-cent">    <img src="/static/author.jpg" width="200" height="400"  alt="Dawid Burgiel"> </div>
    <div class = "auth-content"> Age: 19 <br/> Height: 190 <br/> Languages: English, Spanish, Polish <br/> Programming Languages: Python, C++, C#, JS, CSS, HTML</div>
{% endblock content %}