{% extends "base.html.jinja" %}
{% block content %}
<div class = "content">
    <div class = "home-container">
        <div class = "home-container-title">Extract and Save <br/> Ceneo Reviews Easily!</div>
        <div class = "home-container-desc">Fast and easy way to extract any reviews from any Ceneo <br/> product and display essential statistics in charts.</div>
        <div class = "home-container-buttons">
            <a href="/extract" >Extract</a>
            <a href="/products" class="reverse">Products</a>
        </div>
    </div>
</div>
<div class = "content">
    <div class = "home-container">
        <div class = "home-container-title">About me</div>
        <div class = "home-container-desc">Short description about me. </div>
        <div class = "home-container-buttons">
            <a href="/author" >Author</a>
        </div>
    </div>
</div>
{% endblock content %}